<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003978556725-aeimd7rpt1afrjkvfteggq3flvmkenuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003978556725-aeimd7rpt1afrjkvfteggq3flvmkenuv</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ3qL9xOzIyNY5tBbLxdeTSjZ7O-z7CvU</string>
	<key>GCM_SENDER_ID</key>
	<string>1003978556725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-testprj-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-testprj-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003978556725:ios:5b6ac42e64f54ffbc8787c</string>
</dict>
</plist>